*{
    margin: 0;
    padding: 0;    
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: #EFE2E2;
}

header{
    background: #FF6A28;
    display: flex;
    justify-content: center;
}

header img{
    width: 160px;
}

main{
    max-width: 900px;
    background: #FFF;
    margin: 25px auto;
    border-radius: 25px;
    padding: 25px 25px;
    
}


main img{
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 10px;
}