.contato-container {
    max-width: 1000px;
    margin: 90px auto;
    display: flex;
    gap: 110px;
}


.contato-container form label {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.contato-container form input,
textarea,
label {
    display: block;
    width: 100%;
    width: calc(100% - 10px);
}


.contato-container input{
    height: 35px;
}
.contato-container input,
textarea {
    background: #FFFFFF;
    border: 2px solid #FF6022;
    border-radius: 10px;
    padding: 0px 10px
}

.contato-container 
textarea {

    padding: 15px 10px
}

.contato-container form button{
    display: block;
    width: 100%;
    color: #FFF;
    background: #FF6022;
    border: none;
    border-radius: 10px;
    height: 46px;
    font-size: 1.375em;
    margin-top: 30px;
}


.contato-container .imagem{
    align-self: center;
}


.map h3{
    font-size: 1.375em;
    margin-bottom: 18px;
}