.cursos-page .title-curso {
    margin-top: 45px;
}


.cursos-page .caixa-busca {
    display: flex;
    gap: 10px;
    max-width: 800px;
    margin: 42px auto;
}

.cursos-page .caixa-busca input {
    width: 100%;
    border: 2px solid #FF6022;
    border-radius: 10px;
    height: 40px;
}

.cursos-page .caixa-busca span {
    color: #FF6022;
    font-size: 45px;
}

.cursos-page .banner-cursos {
    display: flex;
    justify-content: center;
    margin: 65px;
}


.cursos-page .cursos-em-alta {
    margin: 30px;
}

.cursos-page .cursos-em-alta h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;

}

.cursos-page .cursos-em-alta h3 span {
    color: #FF6022;
    font-size: 32px;
}

.cursos-page .container-cursos-em-alta {
    margin-top: 25px;
    display: flex;
    gap: 20px;
    justify-content: space-around;
}

.cursos-page .container-cursos-em-alta .curso-item {
    width: 290px;
    height: 390px;
    background: #ECECEC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.cursos-page .container-cursos-em-alta .curso-item .imagem {
    display: flex;
    align-items: center;
    margin: 24px auto;
}

.cursos-page .container-cursos-em-alta .curso-item .imagem img {
    display: flex;
    width: 242px;
    height: 242px;
    border-radius: 5px;
}

.cursos-page .container-cursos-em-alta .curso-item .conteudo {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.cursos-page .container-cursos-em-alta .curso-item .conteudo .curso-titulo {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
}

.cursos-page .container-cursos-em-alta .curso-item .conteudo .curso-horas {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}

.cursos-page .container-cursos-em-alta .curso-item .conteudo .curso-valor {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #349823;
}