@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
}



header {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1110px;
}

header .marca {
    display: flex;
    gap: 15px;
    align-items: flex-end;
}

header .marca span {
    font-weight: 900;
    margin-bottom: 10px;
    font-size: 1.375em;
}

header img {
    width: 70px;
    height: 70px;
}

nav {
    display: flex;
    align-items: flex-end;
}

header ul {
    list-style-type: none;
    display: block;
    justify-self: baseline;
}

header li {
    float: left;
    margin-left: 20px;
}

header li a {
    font-size: 1.375em;
    color: #000;
    text-decoration: none;
    display: flex;
    justify-content: baseline;
    gap: 5px;
}

header li a:hover {
    color: #FF6022;
}

.menu-item-ativo {
    color: #FF6022;
}

main {
    margin: 0 auto;
    max-width: 1110px;
}

.title {
    margin-top: 45px;
}

.inicio .banner {
    margin-top: 20px;
    display: flex;
}

.inicio .banner .conteudo {
    margin-top: 60px;
}

.inicio .banner .conteudo h1 {
    margin-top: 20px;
    font-size: 2em;
}

.inicio .banner .conteudo p {
    margin-top: 20px;
    font-size: 1.375em;
    color: #FF6022;
}

.inicio .banner .conteudo a {
    font-size: 1.375em;
    background: #FF6022;
    color: #FFF;
    text-decoration: none;
    padding: 15px;
    margin-top: 60px;
    border-radius: 10px;
    display: inline-block;
}

.inicio .banner .conteudo a:hover {
    background: #FFF;
    color: #FF6022;
    border: solid 2px #FF6022;
}

.inicio .banner img {
    align-self: center;
    width: 400px
}

.inicio .cursos h1 {
    margin-top: 80px;
    font-size: 2em;
    text-align: center;
}

.inicio .cursos-container {
    display: flex;
    justify-content: space-around;
    margin-top: 80px;

}

.inicio .cursos-container .item-curso {
    width: 300px;
    background: #ECECEC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.inicio .cursos-container .item-curso:hover {
    transform: scale(1.020);
}

.inicio .cursos-container .item-curso img {
    width: 242px;
    height: 242px;
    align-self: center;
    margin-top: 16px;
    ;
}

.inicio .cursos-container .item-curso .content {
    margin-left: 15px;
}

.inicio .cursos-container .item-curso .content .title {
    margin-top: 10px;
    font-size: 1.25em;
    color: #000;
    font-weight: bold;
}

.inicio .cursos-container .item-curso .content .info {
    margin-top: 5px;
    font-size: 1.125em
}

.inicio .cursos-container .item-curso .content .price {
    font-style: normal;
    font-weight: 700;
    font-size: 1.125em;
    color: #349823;
}

/* --------- CURSOS ----------*/

.title {
    margin-top: 45px;
}

.cursos-page .caixa-busca {
    display: flex;
    gap: 10px;
    max-width: 800px;
    margin: 42px auto;
}

.cursos-page .caixa-busca input {
    width: 100%;
    border: 2px solid #FF6022;
    border-radius: 10px;
    height: 40px;
}

.cursos-page .caixa-busca span {
    color: #FF6022;
    font-size: 45px;
}

.cursos-page .banner-cursos {
    display: flex;
    justify-content: center;
    margin: 65px;
}

.cursos-page .cursos-em-alta {
    margin: 30px;
}

.cursos-page .cursos-em-alta h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 2em;

}

.cursos-page .cursos-em-alta h3 span {
    color: #FF6022;
    font-size: 2em;
}

.cursos-page .container-cursos-em-alta {
    margin-top: 25px;
    display: flex;
    gap: 20px;
    justify-content: space-around;
}

.cursos-page .container-cursos-em-alta .curso-item {
    width: 290px;
    height: 390px;
    background: #ECECEC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.cursos-page .container-cursos-em-alta .curso-item .imagem {
    display: flex;
    align-items: center;
    margin: 24px auto;
}

.cursos-page .container-cursos-em-alta .curso-item .imagem img {
    display: flex;
    width: 242px;
    height: 242px;
    border-radius: 5px;
}

.cursos-page .container-cursos-em-alta .curso-item .conteudo {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.cursos-page .container-cursos-em-alta .curso-item .conteudo .curso-titulo {
    font-style: normal;
    font-weight: 700;
    font-size: 1.125em
}

.cursos-page .container-cursos-em-alta .curso-item .conteudo .curso-horas {
    font-style: normal;
    font-weight: 400;
    font-size: 1.125em
}

.cursos-page .container-cursos-em-alta .curso-item .conteudo .curso-valor {
    font-style: normal;
    font-weight: 700;
    font-size: 1.125em;
    color: #349823;
}

/*-------- CONTATO -------*/

.page-contato .contato-container {
    max-width: 1000px;
    margin: 90px auto;
    display: flex;
    gap: 110px;
}


.page-contato .contato-container form label {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.page-contato .contato-container form input,
textarea,
label {
    display: block;
    width: 100%;
    width: calc(100% - 10px);
}

.page-contato .contato-container input {
    height: 35px;
}

.page-contato .contato-container input,
textarea {
    background: #FFFFFF;
    border: 2px solid #FF6022;
    border-radius: 10px;
    padding: 0px 10px
}

.page-contato .contato-container textarea {

    padding: 15px 10px
}

.page-contato .contato-container form button {
    display: block;
    width: 100%;
    color: #FFF;
    background: #FF6022;
    border: none;
    border-radius: 10px;
    height: 46px;
    font-size: 1.375em;
    margin-top: 30px;
}

.page-contato .contato-container .imagem {
    align-self: center;
}

.page-contato .map h3 {
    font-size: 1.375em;
    margin-bottom: 18px;
}

/*----------- ENTRAR ------------*/

.page-entrar .entrar-container {
    max-width: 1000px;
    margin: 90px auto;
    display: flex;
    gap: 110px;
}

.page-entrar .entrar-container form {
    width:100%;
    margin-top: 60px;
}

.page-entrar .entrar-container form input {
    width: 100%;
}

.page-entrar .entrar-container form .btn-entrar {
    width: 100%;
    display: block;
    width: 100%;
    height: 43px;
    margin-top: 35px;
    font-weight: 500;
    font-size: 1.375em;
    color: #fff;
    border: none;
    background: #F76323;
    border-radius: 10px;
}

.page-entrar .entrar-container form .btn-entrar-google {
    background: #FFFFFF;
    border: 1px solid #F76323;
    border-radius: 10px;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    font-size: 1.375em;
    color: #F76323;
    margin-top: 40px;
}

.page-entrar .entrar-container form label {
    font-style: normal;
    font-weight: 700;
    font-size: 1.375em;
    margin-bottom: 10px;
}

.page-entrar .entrar-container form input {
    background: #FFFFFF;
    border: 2px solid #FF6022;
    border-radius: 10px;
    height: 35px;
    margin-bottom: 15px;
}

/*------ FOOTER ---------*/

footer {
    margin-top: 60px;
    background: #FF6022;
    display: flex;

    flex-direction: column;
    align-items: center;
    color: #FFF;
    padding: 40px;

}

footer .marca {
    font-size: 1.125em;
    font-weight: 700;
}

/* MEDIA QUERIES */

@media (max-width: 1110px){
    main {
        padding: 15px;
    }
}

@media (max-width: 940px){
    .cursos-container{
        flex-wrap: wrap;
    }
    .cursos-container .item-curso{
        margin-top: 20px
    }
    header{
        flex-direction: column;
    }

    header  .marca{
        align-self: center;
    }
    header nav{
        align-self: center;
        margin-top: 25px;
    }

    .container-cursos-em-alta{
        flex-wrap: wrap;
    }
}


@media( max-width: 870px){
    .page-contato .contato-container{
        flex-direction: column;
    }

    .page-contato .contato-container form{
        max-width: 300px;
        align-self: center;
    }

    .contato-container .imagem img{
        max-width: 300px;
    }

    .entrar-container{
        flex-direction: column;
    }

    .page-entrar .entrar-container form{
        align-self: center;
        width: 80%;
    }

    .page-entrar .entrar-container .imagem img{
        width: 100%;
    }

}
@media (max-width: 600px){

    body{
        font-size: 10px;
    }
    header{
        flex-direction: column;
    }

    header  .marca{
        align-self: center;
    }

    header .marca img{
        width: 45px;
        height: 45px;
    }

    header nav {
        margin-top: 25px;
        align-self: center;
       
    }

    .banner{
        flex-direction: column-reverse;
    }

    .banner img{
        max-width: 250px;
    }

    .banner .conteudo{
        display: flex;
        flex-direction: column;
    }
    .banner a{
        width: 80%;
        text-align: center;
        align-self: center;
    }
    .banner-cursos img{
        max-width: 200px;
    }

    
}
